name: ramp_submission
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python>=3.9
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - pytorch
  - xgboost
  - pip
  - pip:
    - scvi-tools
    - anndata
    - scanpy
